In [1]:
import pandas as pd

In [23]:
df = pd.read_csv('titanic.csv')
df.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

# Data pre-processing

In [4]:
new_df = df.drop(['PassengerId', 'Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns')
target = df['Survived']

In [5]:
new_df.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [6]:
target.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

### Labeling data

In [27]:
# from sklearn.preprocessing import LabelEncoder
# sex_n = LabelEncoder()
# new_df['sex_n'] = sex_n.fit_transform(new_df['Sex'])

# final_df = new_df.drop('Sex', axis='columns')
# final_df.head(5)

# OR alternative,

In [25]:
new_df.Sex = new_df.Sex.map({'male':1, 'female': 2})

In [26]:
new_df.head()

   Survived  Pclass  Sex   Age     Fare  sex_n
0         0       3    1  22.0   7.2500      1
1         1       1    2  38.0  71.2833      0
2         1       3    2  26.0   7.9250      0
3         1       1    2  35.0  53.1000      0
4         0       3    1  35.0   8.0500      1

In [31]:
new_df.Age = new_df.Age.fillna(new_df.Age.mean())
new_df.head(10)

   Survived  Pclass  Sex        Age     Fare  sex_n
0         0       3    1  22.000000   7.2500      1
1         1       1    2  38.000000  71.2833      0
2         1       3    2  26.000000   7.9250      0
3         1       1    2  35.000000  53.1000      0
4         0       3    1  35.000000   8.0500      1
5         0       3    1  29.699118   8.4583      1
6         0       1    1  54.000000  51.8625      1
7         0       3    1   2.000000  21.0750      1
8         1       3    2  27.000000  11.1333      0
9         1       2    2  14.000000  30.0708      0

## Training model.

In [32]:
from sklearn import tree
from sklearn.model_selection import train_test_split

In [39]:
X_train, X_test, Y_train, Y_test = train_test_split(new_df, target, test_size=0.2)

In [40]:
len(X_train)

712

In [41]:
len(X_test)

179

In [42]:
model = tree.DecisionTreeClassifier()

In [43]:
model.fit(X_train, Y_train)

DecisionTreeClassifier()

In [44]:
print(f"Accuracy of the model: {model.score(X_test, Y_test)*100} %")

Accuracy of the model: 100.0 %